.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 0 53px;
  text-align: center;
  background-color: #ffffff;
}

.hero--dark {
  background-color: #e7e5e5;
  position: relative;
}

.hero--dark::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #c4bcbc;
}

@media (min-width: 767px) {
  .hero--dark::before {
    content: none;
  }
}

.hero--dark-no-lines {
  background-color: #e7e5e5;
}

@media (min-width: 767px) {
  .hero {
    padding: 66px 67px;
    background-color: #e7e5e5;
  }
}

@media (min-width: 1023px) {
  .hero {
    margin-bottom: 0;
  }
}

.hero--form {
  position: relative;
  background-color: #e7e5e5;
}

.hero--form::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #c4bcbc;
}

@media (min-width: 767px) {
  .hero--form::before {
    transform: rotate(90deg);
    top: 436px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 342px;
  }
}

.hero__title--text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 31px;
  text-transform: uppercase;
  max-width: 284px;
}

@media (min-width: 767px) {
  .hero__title--text {
    min-width: 520px;
    font-size: 30px;
  }

  .hero__description--text {
    min-width: 520px;
  }
}

.hero__description--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 284px;
  text-transform: uppercase;
  color: #333333;
}
