// hero section

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 31px 0 24px;
  background-color: #ffffff;
  margin-bottom: 8px;
}

// hero form html

.hero--form {
  margin-bottom: 0;
  position: relative;
  padding-top: 35px;
  padding-bottom: 28px;
}

// tablet hero

@media (min-width: 768px) {
  .hero {
    margin-bottom: 0;
    padding: 50px 124px 55px 124px;
  }
}

@media (min-width: 768px) {
  .hero--form {
    margin-bottom: 24px;
    padding-top: 63px;
  }
}

// descktop hero

@media (min-width: 1280px) {
  .hero {
    padding: 59px 349px 44px 349px;
  }
}

@media (min-width: 1280px) {
  .hero--form {
    margin-bottom: 0;
  }
}

// hero  darck background

.hero--catalog {
  position: relative;
  padding: 37px 20px 36px;
  margin-bottom: 0;
}

//tablet  hero  darck

@media (min-width: 768px) {
  .hero--catalog {
    padding: 66px 155px 67px;
  }
}

// desctop hero dark

@media (min-width: 1280px) {
  .hero--catalog {
    padding: 100px 372px 65px;
    margin-bottom: 24px;
  }
}

.hero--catalog::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #c4bcbc;
}

// tablet line

@media (min-width: 768px) {
  .hero--catalog::before {
    transform: rotate(90deg);
    width: 338px;
    top: 438px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

// desktop line

@media (min-width: 1280px) {
  .hero--catalog::before {
    left: 21px;
    top: 476px;
  }
}

// mobil bottom hero

.hero--bottom-catalog {
  padding: 22px 0;
  margin-bottom: 3px;
}

// tablet hero dark catalog

@media (min-width: 768px) {
  .hero--bottom-catalog {
    padding: 58px 162px 66px;
    margin-bottom: 22px;
  }
}

// descktop hero dark catalog

@media (min-width: 1280px) {
  .hero--bottom-catalog {
    font-size: 30px;
    padding: 62px 378px 64px;
    margin: 0;
    margin-bottom: 23px;
    margin-top: -7px;
  }
}

.hero--form::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #c4bcbc;
}

@media (min-width: 768px) {
  .hero--form::before {
    transform: rotate(90deg);
    top: 415px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 342px;
  }
}

// desctop form line

@media (min-width: 1200px) {
  .hero--form::before {
    left: 28px;
    top: 398px;
  }
}

// hero title

.hero__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 35px;
  text-transform: uppercase;
  padding: 0 30px;
}

// tablet hero title

@media (min-width: 768px) {
  .hero__title {
    min-width: 520px;
    margin-bottom: 27px;
    font-size: 21px;
    padding: 0;
  }
}

// hero title catalog

.hero__title--catalog {
  margin-bottom: 26px;
}

.hero__title--form {
  margin-bottom: 22px;
}

// tablet catalog hero title

@media (min-width: 768px) {
  .hero__title--catalog {
    font-size: 30px;
    line-height: 26px;
    padding: 0;
    margin-bottom: 33px;
  }
}

// hero title form

@media (min-width: 768px) {
  .hero__title--form {
    margin-bottom: 23px;
  }
}

// descktop hero title

@media (min-width: 1280px) {
  .hero__title {
    max-width: 484px;
    font-size: 21px;
    line-height: 26px;
    padding: 0;
    margin-bottom: 30px;
  }
}

// descktop catalog hero title

@media (min-width: 1280px) {
  .hero__title--catalog {
    font-size: 30px;
    line-height: 26px;
  }
}

// descktop title form

@media (min-width: 1280px) {
  .hero__title--form {
    margin-bottom: 30px;
  }
}

// hero description

.hero__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding: 0 30px;
}

// hero description catalog

.hero__description--catalog {
  padding: 0;
}

// tablet hero description catalog

@media (min-width: 768px) {
  .hero__description--catalog {
    max-width: 432px;
  }
}

.hero__description--dark {
  padding: 0 30px;
}

// hero form

.hero__description--form {
  padding: 0;
}

// tablet hero description

@media (min-width: 768px) {
  .hero__description {
    font-size: 14px;
    line-height: 21px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .hero__description--form {
    max-width: 441px;
  }
}

// descktop hero description

@media (min-width: 1280px) {
  .hero__description {
    min-width: 434px;
  }
}
