.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
  text-align: center;
  background-color: #ffffff;
}

@media (min-width: 1023px) {
  .hero {
    margin-bottom: 0;
  }
}

.hero--form {
  position: relative;
  background-color: #e7e5e5;
}

.hero--form::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0;
  top: 232px;
  background: #e5e5e5;
}

@media (min-width: 767px) {
  .hero--form::after {
    transform: rotate(90deg);
    top: 402px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 338px;
  }
}

.hero__title--text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 35px;
  text-transform: uppercase;
  max-width: 284px;
}

@media (min-width: 767px) {
  .hero {
    padding: 48px 60px;
  }

  .hero__title--text {
    min-width: 520px;
    font-size: 30px;
  }

  .hero__description--text {
    min-width: 520px;
  }
}

.hero__description--text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  max-width: 284px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 32px;
}
