// header menu list

.menu {
  list-style: none;
  position: absolute;
  top: -392%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #81b3d2;
  width: 100%;
  z-index: 9;
  transition: all 0.3s ease 0s;
}

// logo position place

.menu::before {
  content: "";
  width: 185px;
  grid-column: 3;
  grid-row: span 2;
}

@media (min-width: 320px) and (max-width: 768px) {
  .menu--no-js-catalog {
    display: block;
    top: 219px;
  }
}

// tablet menu

@media (min-width: 768px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
    background-image: none;
    background-color: #ffffff;
    top: 0;
    padding-top: 19px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (min-width: 768px) {
  .menu--form {
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

// descktop menu

@media (min-width: 1280px) {
  .menu {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
}

// descktop menu catalog

@media (min-width: 1280px) {
  .menu--catalog {
    padding-left: 44px;
    padding-right: 48px;
  }
}
// descktop menu form

@media (min-width: 1280px) {
  .menu--form {
    padding: 0;
    min-width: 1200px;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

// open dropdown list menu

.menu--opened {
  display: block;
  top: 0;
}

.menu__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

// catalog menu

@media (min-width: 768px) {
  .menu--catalog {
    padding: 18px 0 17px;
  }
}

@media (min-width: 768px) {
  .menu__list-item:last-of-type::before {
    display: none;
  }
}

// tablet catalog menu

@media (min-width: 768px) {
  .menu--catalog .menu__list-item:nth-child(1) {
    padding-left: 9px;
  }

  .menu--catalog .menu__list-item:nth-child(2) {
    padding-left: 25px;
  }

  .menu--catalog .menu__list-item:last-child {
    padding-right: 11px;
  }
}

// desctop catalog menu

@media (min-width: 1280px) {
  .menu--catalog .menu__list-item {
    padding: 0;
  }

  .menu--catalog .menu__list-item:nth-child(1) {
    padding: 0;
  }

  .menu--catalog .menu__list-item:nth-child(2) {
    padding: 0;
  }

  .menu--catalog .menu__list-item:nth-child(3) {
    padding: 0;
  }

  .menu--catalog .menu__list-item:last-child {
    padding: 0;
    margin-left: -2px;
  }
}

// menu shdow line

.menu__list-item {
  text-align: center;
  padding: 17px 20px 12px 20px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

@media (min-width: 768px) {
  .menu__list-item {
    box-shadow: none;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .menu__list-item:nth-child(2) {
    padding-left: 22px;
  }
}

// descktop menu

@media (min-width: 1280px) {
  .menu__list-item:nth-child(2) {
    padding-left: 5px;
  }
}

@media (min-width: 768px) {
  .menu__list-item:nth-child(3) {
    padding-right: 21px;
  }
}

@media (min-width: 1280px) {
  .menu__list-item:nth-child(3) {
    padding-left: 24px;
  }
}

// action link menu

.menu__list-item:hover {
  background: #669ec0;
}

.menu__list-item:hover .menu__link {
  opacity: 0.8;
}

.menu__list-item:active .menu__link {
  opacity: 0.3;
}

.menu__list-item:last-of-type::before {
  content: "";
  height: 7px;
  width: 100%;
  position: absolute;
  top: 213px;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

// tablet fonts and actions menu

@media (min-width: 768px) {
  .menu__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  .menu__link--current {
    color: #766357;
  }

  .menu__list-item:hover {
    background-color: #ffffff;
  }

  .menu__link:hover {
    color: #81b3d2;
  }

  .menu__link:active {
    color: #000000;
    opacity: 0.3;
  }
}
