
// header menu list

.menu {
  position: absolute;
  top: -400%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #81b3d2;
  width: 100%;
  z-index: 9;
  transition: all 0.3s ease 0s;
}

// header dropdown list menu

.menu--opened {
  display: block;
  top: 0;
}

.menu__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

// tablet fonts menu

@media (min-width: 767px) {
  .menu__link {
    font-size: 14px;
    line-height: 21px;
  }
}

// menu shdow line

.menu__list-item {
  text-align: center;
  padding: 17px 20px 12px 20px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}


@media (min-width: 767px) {
  .menu__list-item:nth-child(2) {
    position: relative;
    margin-right: 25%;
  }

  .menu__list-item:nth-child(2)::after {
    position: absolute;
    content: url("../../../../img/header-logo/logotype-mobile.svg");
    top: 0;
    left: 100%;
  }
}

@media (min-width: 1279px) {
  .menu__list-item:nth-child(2)::after {
    left: 160%;
  }
}

.menu__list-item:hover {
  background: #669ec0;
}

.menu__list-item:hover .menu__link {
  opacity: 0.8;
}

.menu__list-item:active .menu__link {
  opacity: 0.3;
}

.menu__list-item:last-of-type::before {
  content: "";
  height: 7px;
  width: 100%;
  position: absolute;
  top: 217px;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
}

// tablet menu

@media (min-width: 767px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    list-style: none;
    z-index: 0;
    padding: 0 30px 0 50px;
  }

  .menu__list-item:last-of-type::before {
    display: none;
  }

  .menu__list-item {
    box-shadow: none;
  }

  .menu__list-invisible {
    display: block;
    width: 150px;
  }

  .menu__link {
    color: #000000;
  }

  .menu__link--current {
    color: #766357;
  }

  .menu__list-item:hover {
    background: transparent;
  }

  .menu__link:hover {
    color: #81b3d2;
  }

  .menu__link:active {
    color: #000000;
    opacity: 0.3;
  }
}

@media (min-width: 1279px) {
  .menu {
    position: relative;
    padding-left: 131px;
    padding-right: 131px;
  }
}
