// adventages

.adventages {
  background-color: #ffffff;
}

// adventages list

.adventages-list {
  list-style: none;
}

.adventages__list-item {
  background-color: #81b3d2;
}

.adventages-list__list-item {
  background-color: #81b3d2;
}

// adventages blue

.adventages-list__list-item-blue {
  background-color: #81b3d2;
  padding: 54px 18px 40px;
}

.adventages-list__list-two {
  padding: 37px 0 37px;
}

// tablet adventages blue

@media (min-width: 768px) {
  .adventages-list__list-item-blue {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 52px 33px 31px 33px;
  }
}

@media (min-width: 1280px) {
  .adventages-list__list-item-blue {
    padding: 20px 50px;
    min-width: 400px;
  }
}

.adventages__title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 11px;
}

// tablet adventages title

@media (min-width: 768px) {
  .adventages__title {
    font-size: 21px;
    max-width: 185px;
  }
}

@media (min-width: 1280px) {
  .adventages__title {
    max-width: 200px;
    margin-bottom: 8px;
  }
}

@media (min-width: 1280px) {
  .dventages__title--blue {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

.adventages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 17px;
}

// tablet adventages number

@media (min-width: 768px) {
  .adventages__number {
    font-size: 14px;
    line-height: 26px;
    max-width: 185px;
  }
}

// descktop adventages nimber

@media (min-width: 1280px) {
  .adventages__number {
    line-height: 31px;
    max-width: 230px;
    margin-bottom: 19px;
  }
}

.adventages__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 768px) {
  .adventages__text {
    max-width: 185px;
  }
}

@media (min-width: 1280px) {
  .adventages__text {
    max-width: 295px;
    font-size: 14px;
    line-height: 21px;
  }
}

// adventages blue img

.adventages-list__list-item-image-city {
  vertical-align: bottom;
}

.adventages__list-item-image-bridge {
  vertical-align: bottom;
}

// adventages list with ico

.adventages-list__list-item--ico {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 8px 18px;
}

// list center between mobile and descktop

@media (min-width: 400px) and (max-width: 768px) {
  .adventages-list__list-item--ico {
    justify-content: center;
  }
}

// tablet adventages list with ico

@media (min-width: 768px) {
  .adventages-list__list-item--ico {
    flex-direction: column;
    align-items: center;
    padding: 60px 33px;
  }
}

@media (min-width: 1280px) {
  .adventages-list__list-item--ico {
    padding: 69px 33px;
  }
}

// adventages list ico wrapper text

.adventages__text-colum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 237px;
  padding-top: 13px;
}

// tablet adventages list ico wrapper text

@media (min-width: 768px) {
  .adventages__text-colum {
    max-width: 265px;
    align-items: center;
    padding-top: 0;
  }
}

@media (min-width: 1280px) {
  .adventages__text-colum {
    align-items: center;
    padding-top: 0;
    max-width: 300px;
  }
}

// adventages list text

.adventages__title--ico {
  color: #333333;
  margin: 8px 0 15px;
  text-align: start;
}

@media (min-width: 768px) {
  .adventages__title--ico {
    color: #333333;
    margin: 0 0 22px;
    text-align: start;
  }
}

// tablet adventages list text

@media (min-width: 768px) {
  .adventages__text--ico {
    text-align: center;
  }
}

// adventages description text with ico

.adventages__text-description-ico {
  color: #333333;
  text-align: start;
}

// tablet adventages description text with ico

@media (min-width: 768px) {
  .adventages__text-description-ico {
    text-align: center;
  }
}

// adventages list ico gifts bobile margin

.adventages-list__list-item--gifts {
  margin-bottom: 35px;
}

// tablet adventages list gifts no margin

@media (min-width: 768px) {
  .adventages-list__list-item--gifts {
    margin-bottom: 0;
  }
}

// adventages ico image

.adventages-list__list-item--hausing::before {
  content: url("../img/adventages/features/icon-house.svg");
  margin-right: 7px;
  margin-top: 16px;
}

//tablet adventages ico image hausing

@media (min-width: 768px) {
  .adventages-list__list-item--hausing::before {
    content: "";
    background-image: url("../img/adventages/features/icon-house.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 77px;
    height: 72px;
    margin: 0;
    margin-bottom: 26px;
  }
}

@media (min-width: 1280px) {
  .adventages-list__list-item--hausing::before {
    content: "";
    background-image: url("../img/adventages/features/icon-house.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 77px;
    height: 72px;
    margin: 0;
    margin-bottom: 29px;
  }
}

.adventages-list__list-item--eat::before {
  content: url("../img/adventages/features/icon-burger.svg");
  margin-right: 7px;
  margin-top: 13px;
}

// list center between mobile and tablet

@media (min-width: 400px) and (max-width: 768px) {
  .adventages-list__list-item--eat::before {
    margin-right: 30px;
  }
}

//tablet adventages ico image burger

@media (min-width: 768px) {
  .adventages-list__list-item--eat::before {
    content: "";
    background-image: url("../img/adventages/features/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76px;
    height: 68px;
    margin: 0;
    margin-bottom: 26px;
    vertical-align: middle;
  }
}

@media (min-width: 1280px) {
  .adventages-list__list-item--eat::before {
    margin-bottom: 30px;
  }
}

.adventages-list__list-item--gifts::before {
  content: url("../img/adventages/features/icon-gift.svg");
  margin-right: 7px;
  margin-top: 10px;
}

//tablet adventages ico image gifts

@media (min-width: 768px) {
  .adventages-list__list-item--gifts::before {
    content: "";
    background-image: url("../img/adventages/features/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 80px;
    margin: 0;
    margin-bottom: 12px;
    vertical-align: middle;
  }
}

@media (min-width: 1280px) {
  .adventages-list__list-item--gifts::before {
    margin-bottom: 22px;
    width: 84px;
  }
}

// // adventages img number two for blue

// adventages blue img

.adventages__list-item--image-bridge {
  vertical-align: bottom;
}

// adventages list no ico

.adventages__list-item-no-ico {
  background-color: #eeeeee;
  position: relative;
  padding: 25px 26px;
}

.adventages__title--no-ico {
  color: #000000;
}

//tablet adventages list no ico title

@media (min-width: 768px) {
  .adventages__title--no-ico {
    max-width: 159px;
    margin: 0 auto;
    margin-bottom: 11px;
  }
}

@media (min-width: 1280px) {
  .adventages__title--no-ico {
    font-size: 21px;
  }
}

.adventages__number--no-ico {
  color: #000000;
}

.adventages__text--no-ico {
  color: #000000;
}

//tablet adventages list no ico text

@media (min-width: 768px) {
  .adventages__text--no-ico {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .adventages__text--number {
    max-width: 147px;
  }
}

@media (min-width: 1280px) {
  .adventages__text--number {
    max-width: 267px;
  }
}

// adventages list no ico line

.adventages__list-item-no-ico::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #d6d6d6;
}

// tablet adventages list no ico line off

@media (min-width: 768px) {
  .adventages__list-item-no-ico::before {
    content: none;
  }
}

// tablet grid list

@media (min-width: 768px) {
  .adventages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "one imone imone"
      "hs  et    gf"
      "imtw imtw bltw"
      "lio   lit   lith";
  }

  // position grid etem

  .adventages-list__list-one {
    grid-area: one;
  }

  .adventages__list-image-one {
    grid-area: imone;
  }

  .adventages-list__list-item--hausing {
    grid-area: hs;
  }

  .adventages-list__list-item--eat {
    grid-area: et;
  }

  .adventages-list__list-item--gifts {
    grid-area: gf;
  }

  .adventages-list__list-two {
    grid-area: bltw;
  }

  .adventages__list-item-image-two {
    grid-area: imtw;
  }

  .adventages__list-item-first {
    grid-area: lio;
    padding: 52px 33px;
  }

  .adventages__list-item-second {
    grid-area: lit;
    padding: 43px 33px;
  }

  .adventages__list-item-third {
    grid-area: lith;
    padding: 52px 33px;
  }
}

// descktop adventages list item no ico

@media (min-width: 1280px) {
  .adventages__list-item-first {
    padding: 63px 50px 41px;
  }
}

@media (min-width: 1280px) {
  .adventages__list-item-second {
    padding: 52px 50px 41px;
  }
}

@media (min-width: 1280px) {
  .adventages__list-item-third {
    padding: 63px 50px 41px;
  }
}
