.adventages-list {
  list-style: none;
}

.adventages__list-item {
  padding: 24px 26px;
}

.adventages__list-item--img {
  position: relative;
  overflow: hidden;
  min-height: 184px;
}

.adventages__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  object-fit: cover;
}

.adventages-list__list-item--blue {
  background-color: #81b3d2;
  padding: 33px 18px 40px 18px;
}

.adventages__title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 11px;
}

.adventages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 11px;
}

.adventages__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.adventages-list__list-item--ico {
  display: flex;
  background-color: #ffffff;
  padding: 31px 0 31px 0;
  justify-content: center;
}

.adventages-list__list-item--hausing::before {
  content: url("../../../img/-features/icon-house.svg");
  margin-right: 8px;
}

.adventages-list__list-item--eat::before {
  content: url("../../../img/-features/icon-burger.svg");
  margin-right: 8px;
}

.adventages-list__list-item--gifts::before {
  content: url("../../../img/-features/icon-gift.svg");
  margin-right: 8px;
}

.adventages__title--ico {
  color: #333333;
  margin-bottom: 16px;
  text-align: start;
}

.adventages__text--ico {
  color: #333333;
  text-align: start;
}

.adventages__title--no-ico {
  color: #000000;
}

.adventages__number--no-ico {
  color: #000000;
}

.adventages__text--no-ico {
  color: #000000;
}

.adventages__text-colum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 237px;
}

@media (min-width: 768px) {
  .adventages {
    margin-bottom: 60px;
  }

  .adventages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "one imone imone"
      "hs  et    gf"
      "imtw imtw bltw"
      "lio   lit   lith";
  }

  .adventages-list__list-one {
    grid-area: one;
  }

  .adventages__list-img-one {
    grid-area: imone;
  }

  .adventages-list__list-item--hausing {
    grid-area: hs;
  }

  .adventages-list__list-item--eat {
    grid-area: et;
  }

  .adventages-list__list-item--gifts {
    grid-area: gf;
  }

  .adventages-list__list-two {
    grid-area: bltw;
  }

  .adventages__list-item-img-two {
    grid-area: imtw;
  }

  .adventages__title-one {
    grid-area: lio;
  }

  .adventages__title-two {
    grid-area: lit;
  }

  .adventages__title-three {
    grid-area: lith;
  }

  .adventages-list__list-item--blue {
    padding: 52px 33px 31px 33px;
  }

  .adventages__title {
    font-size: 21px;
  }

  .adventages-list__list-item--ico {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .adventages__list-item {
    display: inline-block;
    padding: 52px 33px;
  }

  .adventages__title--no-ico {
    max-width: 159px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .adventages__text--no-ico {
    max-width: 220px;
    margin: 0 auto;
  }

  .adventages-list__list-item--hausing::before {
    content: "";
    background-image: url("../../../img/-features/icon-house.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 77px;
    height: 72px;
    margin: 0;
    margin-bottom: 26px;
  }

  .adventages-list__list-item--eat::before {
    content: "";
    background-image: url("../../../img/-features/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76px;
    height: 68px;
    margin: 0;
    margin-bottom: 26px;
    vertical-align: middle;
  }

  .adventages-list__list-item--gifts::before {
    content: "";
    background-image: url("../../../img/-features/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 67px;
    height: 80px;
    margin: 0;
    margin-bottom: 26px;
    vertical-align: middle;
  }

  .adventages__text-colum {
    align-items: center;
  }

  .adventages__text--ico {
    text-align: center;
  }
}
