// gallery catalog page

.gallery {
  padding: 13px 0;
  margin-bottom: -41px;
}

// tablet gallery catalog

@media (min-width: 768px) {
  .gallery {
    padding: 12px 60px 0 60px;
    margin-bottom: 0;
  }
}

// desctop gallery catalog

@media (min-width: 1280px) {
  .gallery {
    padding: 0;
  }
}

// gallery list

.gallery__list {
  list-style: none;
}

// tablet gallery list

@media (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// tablest list center

@media (min-width: 768px) {
  .gallery__list::before {
    content: "";
    display: block;
    width: 324px;
    order: 4;
  }
}

// Gallery card

.gallery__list-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

// tablet gallery card

@media (min-width: 768px) {
  .gallery__list-card {
    min-width: 324px;
  }
}

// gallery card underline

.gallery__list-card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 27px;
  background: #c4bcbc;
}

// tablet underline off

@media (min-width: 768px) {
  .gallery__list-card::before {
    content: none;
  }
}

// gallery image

.gallery__image-first {
  margin-bottom: 15px;
  padding: 0 20px;
}

// tablet gallery image

@media (min-width: 768px) {
  .gallery__image-first {
    display: block;
    padding: 0;
    margin: 0;
    min-width: 648px;
  }
}

// desctop galerrey image first catalog

@media (min-width: 1280px) {
  .gallery__image-first {
    min-width: 1200px;
    max-height: 400px;
    object-fit: cover;
  }
}

// gallery image

.gallery__image-second {
  padding: 0 20px;
  margin-bottom: 15px;
}

// tablet gallery image

@media (min-width: 768px) {
  .gallery__image-second {
    display: block;
    padding: 0;
    margin: 0;
  }
}

// gallery image

.gallery__image-third {
  padding: 0 20px;
  margin-bottom: 15px;
}

// tablet gallery image

@media (min-width: 768px) {
  .gallery__image-third {
    display: block;
    padding: 0;
    margin: 0;
  }
}

// gallery image

.gallery__image-fourth {
  padding: 0 20px;
  margin-bottom: 15px;
}

// tablet gallery image

@media (min-width: 768px) {
  .gallery__image-fourth {
    display: block;
    padding: 0;
    margin: 0;
  }
}

// descktop gallery image

@media (min-width: 1280px) {
  .gallery__image-second {
    min-width: 400px;
  }
}

// descktop gallery image

@media (min-width: 1280px) {
  .gallery__image-third {
    min-width: 400px;
  }
}

// descktop gallery image

@media (min-width: 1280px) {
  .gallery__image-fourth {
    min-width: 400px;
  }
}
// gallery text

.gallery__card-title {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 3px;
}

// descktop gallery text

@media (min-width: 1280px) {
  .gallery__card-title {
    color: #ffffff;
  }
}

.gallery__card-description {
  margin-bottom: 48px;
  min-width: 280px;
  padding: 0 20px;
  margin-top: -6px;
}

// tablet gallery text

@media (min-width: 768px) {
  .gallery__card-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 26px 20px 12px 20px;
    background-color: #f2f2f2;
  }
}

// descktop galerry card description

@media (min-width: 1280px) {
  .gallery__card-description {
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    min-width: 400px;
  }
}

// tablet description card  background darck

@media (min-width: 768px) {
  .gallery__card-description--darck {
    background-color: #eaeaea;
  }
}

// descktop description card  background darck off

@media (min-width: 1280px) {
  .gallery__card-description--darck {
    background-color: rgb(0, 0, 0, 0.3);
  }
}

// tablet card description first

@media (min-width: 768px) {
  .gallery__card-description-first {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    min-width: 648px;
    padding: 19px 18px;
    background-color: #f2f2f2;
    margin-top: 0;
  }
}

// descktop card description fist

@media (min-width: 1280px) {
  .gallery__card-description-first {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    min-width: 1200px;
    background-color: rgb(0, 0, 0, 0.3);
  }
}

// gallery card wrapper text

.gallery__wrapper-author {
  margin-bottom: 11px;
}

@media (min-width: 768px) {
  .gallery__wrapper-author {
    margin-bottom: 0;
  }
}

// gallery card name author

.gallery__card-author {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

// descktop gallery card name author

@media (min-width: 1280px) {
  .gallery__card-author {
    color: #ffffff;
  }
}
// gallery card action

.gallery__card-like {
  text-decoration: none;
}

.gallery__card-like:hover {
  opacity: 0.8;
}

.gallery__card-like:active {
  opacity: 0.6;
}

.gallery__number-reaction {
  margin-left: 9px;
}

// descktop card like icon

.gallery__card-icon {
  opacity: 0.3;
}

// descktop card like icon

@media (min-width: 1280px) {
  .gallery__card-icon {
    fill: #ffffff;
    opacity: 1;
  }
}

.gallery__like-amount {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

// descktop galerry like amount

@media (min-width: 1280px) {
  .gallery__like-amount {
    color: #ffffff;
  }
}
