// main page param

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  line-height: 26px;
  color: #000000;
  font-size: 21px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 56px;
  overflow-x: hidden;
}

.page__body--container {
  max-width: 1200px;
}

.page__body--menu {
  overflow: hidden;
}

// mobile main catalog

.main-catalog {
  margin-bottom: -12px;
}

// tablet main catalog

@media (min-width: 768px) {
  .main-catalog {
    margin-bottom: 55px;
  }
}

// desctop main catalog padding off

@media (min-width: 1280px) {
  .main-catalog {
    margin-bottom: 0;
  }
}

// desctop main catalog padding on

@media (min-width: 1280px) {
  .main-form {
    margin-bottom: 64px;
  }
}

// desactop page body

@media (min-width: 1280px) {
  .page__body {
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
