// form section page

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  background-color: #e7e5e5;
  padding-top: 30px;
}

// tablet form

@media (min-width: 767px) {
  .form {
    margin: 0 60px;
    display: block;
    margin-bottom: 64px;
  }
}

// descktop form

@media (min-width: 1279px) {
  .form {
    margin: 0;
  }
}

.form-review {
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) {
  .form-review {
    align-items: center;
  }
}

@media (min-width: 1279px) {
  .form-review {
    align-items: stretch;
  }
}

.form-review__wrapper-radiobox {
  margin-right: 40px;
}

// tablet radio box

@media (min-width: 767px) {
  .form-review__wrapper-radiobox {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
  }

  .form-review__wrapper-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 124px 0 84px;
  }
}

// descktop wrapper checkbox

@media (min-width: 1279px) {
  .form-review__wrapper-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 165px;
  }
}

@media (min-width: 1279px) {
  .form-review__wrapper-radiobox {
    padding: 0 173px;
    justify-content: space-between;
  }
}

// tablet fildset wrapper

@media (min-width: 767px) {
  .fildset-wrapper {
    display: flex;
  }
}

// descktop fildset wrapper

@media (min-width: 1279px) {
  .fildset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// fildset border off

.form-review__fildset {
  position: relative;
  border: none;
}

// fildset line

.form-review__fildset::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #c4bcbc;
}

// tablet underline off

@media (min-width: 767px) {
  .form-review__fildset::before {
    content: none;
  }
}

// title form

.form-review__title {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

// tablet review title and lines

@media (min-width: 767px) {
  .form-review__title {
    font-size: 21px;
    margin-bottom: 28px;
    max-width: 308px;
  }

  .form-review__title--line::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    top: 12px;
    left: -170px;
  }

  .form-review__title--line::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    top: 12px;
    right: -170px;
  }
}

@media (min-width: 1279px) {
  .form-review__title {
    margin-bottom: 45px;
    max-width: 278px;
  }
}
// descktop radi and check box line

@media (min-width: 1279px) {
  .form-review__title--line::after {
    width: 280px;
    top: 12px;
    left: -342px;
    background: #dbdbdb;
  }

  .form-review__title--line::before {
    width: 280px;
    top: 12px;
    right: -342px;
    background: #dbdbdb;
  }
}

// form imput

.form-review__user-input {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  flex-direction: column;
  margin-bottom: 39px;
  padding-bottom: 39px;
}

//descktop  form user imput

@media (min-width: 1279px) {
  .form-review__user-input:nth-child(3) {
    margin-left: 0;
  }
}

@media (min-width: 1279px) {
  .form-review__user-input:nth-child(4) {
    margin-left: 0;
  }
}

.form-review__no-padding {
  padding-bottom: 24px;
}

.form-review__input {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  color: #000000;
  padding: 16px;
  margin-left: 18px;
}

// tablet form imput

@media (min-width: 767px) {
  .form-review__input {
    margin-bottom: 16px;
  }
}

// descktop form imput

@media (min-width: 1279px) {
  .form-review__input {
    min-width: 430px;
    margin-left: 120px;
  }
}

// form input actions

.form-review__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-review__input:hover {
  background: #e5e5e5;
}

.form-review__input:focus {
  outline: none;
  background: #ffffff;
  border: 4px solid #e5e5e5;
}

.form-review__input:invalid {
  outline: none;
  background: #ffffff;
  border: 4px solid #ee0c0c;
}

.form-review__wrapper-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// tablet wrapper input

@media (min-width: 767px) {
  .form-review__wrapper-input {
    align-items: center;
    justify-content: flex-end;
  }
}

.form-review--short {
  max-width: 222px;
}

// descktop user imput short

@media (min-width: 1279px) {
  .form-review--short {
    min-width: 344px;
    margin-left: 0;
  }
}

// form input ico

.form-review__ico {
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
  padding-top: 18px;
  padding-left: 20px;
}

// descktop fotm input ico

@media (min-width: 1279px) {
  .form-review__ico {
    margin-right: 120px;
    margin-bottom: 16px;
  }
}

.form-review__ico--tel::after {
  content: url("../img/form/phone.svg");
}

.form-review__ico--mail::before {
  content: url("../img/form/mail.svg");
}

.form-review__label {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  padding: 0 18px;
}

// tablet form input label

@media (min-width: 767px) {
  .form-review__label {
    padding-left: 42px;
  }
}

@media (min-width: 767px) {
  .form-review__label--tablet {
    padding-left: 54px;
  }
}

// descktop form input label

@media (min-width: 1279px) {
  .form-review__label {
    margin-left: 120px;
  }
}

// descktop right label margin off

@media (min-width: 1279px) {
  .form-review__label--tablet {
    margin-left: 0;
    padding-left: 28px;
  }
}

.form-review__radio-title {
  font-weight: 700;
  font-size: 18px;
}

.form-review__check-title {
  font-weight: 700;
  font-size: 18px;
}

// form emotion input

.form-review__emotions {
  margin: 0 18px;
}

// tablet emotion bottom

@media (min-width: 767px) {
  .form-review__emotions {
    margin-bottom: 48px;
  }
}

// descktop emotion bottom

@media (min-width: 1279px) {
  .form-review__emotions {
    padding: 0 216px;
  }
}

@media (min-width: 1285px) {
  .form-review__emotions {
    margin: 0 auto;
    min-width: 1200px;
    text-align: center;
  }
}

// form emotion input title

.form-review__emotions-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

// tablet emotion title

@media (min-width: 767px) {
  .form-review__emotions-title {
    font-size: 21px;
    margin-bottom: 28px;
  }
}

// form emotion input

.form-review__emotions-input {
  min-width: 280px;
  width: 100%;
  height: 150px;
  border: none;
  background: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding: 16px 0 0 16px;
  margin-bottom: 56px;
}

// tablet emotions input

@media (min-width: 767px) {
  .form-review__emotions-input {
    min-height: 160px;
    margin-bottom: 0;
    min-width: 648px;
  }
}

// descktop form emotion input

@media (min-width: 1279px) {
  .form-review__emotions-input {
    max-width: 768px;
  }
}
// emotions input actions

.form-review__emotions-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-review__emotions-input:hover {
  background: #e5e5e5;
}

.form-review__emotions-input:focus {
  outline: none;
  background: #ffffff;
  border: 4px solid #e5e5e5;
}

// form popup window

.form-review--popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #2d34404d;
}

// open form popup window

.form-review--active {
  display: flex;
}

.form-review__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  margin: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding-top: 45px;
}

.form-review__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  max-width: 237px;
  margin-bottom: 28px;
}

.button--form-error {
  max-width: 180px;
  padding: 18px 64px 14px 64px;
  margin-bottom: 35px;
}

.button--form-right {
  max-width: 280px;
  padding: 18px 64px 14px 64px;
  margin-bottom: 35px;
}

.form-review__button-wrapper {
  background: #f2f2f2;
  min-width: 320px;
  padding: 20px 20px 0 20px;
}

// form check box

.form-review__check {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

@media (min-width: 767px) {
  .form-review__check {
    min-width: 220px;
  }
}

@media (min-width: 1279px) {
  .form-review__check {
    min-width: 184px;
    margin-bottom: 0;
  }
}

.form-review__control-mark {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  margin-right: 16px;
  background-color: #f2f2f2;
  margin-left: 20px;
}

.form-review__control-mark:hover {
  background: #e5e5e5;
}

.form-review__control-mark::after {
  content: "";
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #000000;
  border-radius: 50%;
}

/* stylelint-disable*/
// Prettier cod formater in vs-code formats the code below with a space before the plus sign, swears at it stylelint.

.form-review__radio-box[type="radio"]:checked
  + .form-review__control-mark::after {
  display: flex;
}

.form-review__radio-box[type="radio"]:checked:active
  + .form-review__control-mark::after {
  background: rgba(51, 51, 51, 0.3);
}

/* stylelint-enable*/

.form-review__check-mark {
  display: block;
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 2px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 16px;
  background-color: #f2f2f2;
  margin-left: 20px;
}

.form-review__check-mark:hover {
  background: #e5e5e5;
}

.form-review__check-mark::after {
  content: url("../img/form/tick.svg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  position: absolute;
  width: 22px;
  height: 16px;
}

/* stylelint-disable*/
// Prettier cod formater in vs-code formats the code below with a space before the plus sign, swears at it stylelint.

.form-review__checkbox-box[type="checkbox"]:checked
  + .form-review__check-mark::after {
  display: flex;
}

.form-review__checkbox-box[type="checkbox"]:checked:active
  + .form-review__check-mark::after {
  fill: rgba(51, 51, 51, 0.3);
}

/* stylelint-enable*/

// form wrapper button

.form-review__emotion-active-wrapper {
  margin: 0 18px;
}

// tablet wrapper emotion active

@media (min-width: 767px) {
  .form-review__emotion-active-wrapper {
    display: flex;
    min-width: 648px;
  }
}

// descktop wrapper emotion active

@media (min-width: 1279px) {
  .form-review__emotion-active-wrapper {
    padding: 0 216px;
  }
}

// form buuton

.button--form {
  padding: 16px 49px;
  min-width: 280px;
}

// form rulles

.form-review__rulles {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}

// tablet form rulles

@media (min-width: 767px) {
  .form-review__rulles {
    margin-bottom: 0;
  }
}
