// form section page

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding-top: 26px;
}

// tablet form

@media (min-width: 768px) {
  .form {
    margin: 0 60px;
    display: block;
    margin-bottom: 72px;
  }
}

// descktop form

@media (min-width: 1280px) {
  .form {
    margin: 0;
  }
}
