// vidio section catalog

.video-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video-presentation__button::before {
  content: url("/img/gallery/video/polygon\ .svg");
  position: absolute;
  width: 48px;
  height: 54px;
  cursor: pointer;
  top: 37%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .video-presentation__button::before {
    cursor: pointer;
    top: 44%;
  }
}

.video-presentation__video {
  object-fit: scale-down;
}

.video-presentation__button:hover::before {
  opacity: 0.6;
}

.video-presentation__button:focus::before {
  opacity: 0.9;
}

.video-presentation__button:active::before {
  opacity: 1;
  scale: 90%;
}

@media (min-width: 768px) {
  .video-presentation {
    min-width: 648px;
    min-height: 500px;
  }

  .video-presentation__video {
    padding: 0 60px;
    width: 100%;
    min-height: 500px;
    object-fit: cover;
  }
}

@media (min-width: 1280px) {
  .video-presentation {
    max-width: 920px;
    min-height: 500px;
    margin: 0 auto;
  }
}
