// vidio section catalog

.video-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video-presentation__polygon {
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
}

.video-presentation__polygon:hover {
  opacity: 0.6;
}

.video-presentation__polygon:focus {
  opacity: 0.9;
}

.video-presentation__polygon:active {
  opacity: 1;
  scale: 90%;
}

@media (min-width: 767px) {
  .video-presentation {
    min-width: 648px;
    min-height: 500px;
  }

  .video-presentation__video {
    padding: 0 60px;
    width: 100%;
    min-height: 500px;
  }
}

@media (min-width: 1279px) {
  .video-presentation {
    max-width: 800px;
    min-height: 500px;
    margin: 0 auto;
  }
}
