.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.logo__image {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 767px) {
  .logo {
    z-index: 1;
  }
}
