.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.logo__image {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 185px;
}

//logo tablet and more

@media (min-width: 768px) {
  .logo {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 185px;
  }
}
