.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
  text-align: center;
  background-color: var(--white, #ffffff);
}

.hotel__title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark, #000000);
}

.hotel__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
