.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 0 49px;
  text-align: center;
  background-color: #ffffff;
}

@media (min-width: 767px) {
  .hotel {
    padding: 61px 0 58px;
    background-color: #e7e5e5;
  }
}

.hotel__title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotel__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .hotel__title {
    font-size: 30px;
    margin-bottom: 27px;
  }

  .hotel__description {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
