// hotel section

.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 18px 49px;
  text-align: center;
  background-color: #ffffff;
}

// tablet hotel find

@media (min-width: 768px) {
  .hotel {
    padding: 61px 166px 58px;
  }
}

// descktop hotel find

@media (min-width: 1280px) {
  .hotel {
    padding: 61px 382px 66px;
  }
}

// hotel title

.hotel__title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

// tablet hotel title

@media (min-width: 768px) {
  .hotel__title {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

// hotel description

.hotel__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

// tablet hotel description

@media (min-width: 768px) {
  .hotel__description {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

// descktop hotel description

@media (min-width: 1280px) {
  .hotel__description {
    margin-bottom: 42px;
  }
}

.hotel__button {
  padding: 16px 49px;
  text-decoration: none;
}

// hotel button

@media (min-width: 768px) {
  .hotel__button {
    min-width: 458px;
  }
}
