.footer {
  padding: 38px 77px 29px 77px;
  background-color: #ffffff;
}

@media (min-width: 767px) {
  .footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 36px 76px 36px 45px;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  margin-bottom: 40px;
}

@media (min-width: 767px) {
  .footer__social-list {
    justify-content: space-between;
    max-width: 166px;
    margin-bottom: 0;
  }
}


.footer__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  cursor: pointer;
  margin-right: 6px;
}

.footer__list-ico {
  fill: #ffffff;
}

.footer__list-item:hover {
  background-color: #669ec0;
}

.footer__list-ico:active {
  fill: rgba(255, 255, 255, 0.3);
  background-color: #669ec0;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-bottom: 33px;
}

@media (min-width: 767px) {
  .footer__link {
    margin-bottom: 0;
  }
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__logo-title {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 12px;
}

.footer__link:hover {
  opacity: 0.8;
  fill: #81b3d2;
  color: #81b3d2;
}

.footer__link:hover .footer__logo-title {
  opacity: 0.8;
  fill: #81b3d2;
  color: #81b3d2;
}

.footer__link:active {
  opacity: 0.3;
  fill: #b3b3b3;
}

.footer__link:active .footer__logo-title {
  opacity: 0.8;
  fill: #81b3d2;
  color: #b3b3b3;
}
