// footer

.footer {
  padding: 32px 77px 21px 77px;
  background-color: #ffffff;
}

.footer--form {
  padding: 28px 77px 21px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 27px 76px 23px 61px;
  }
}

// descktop footer

@media (min-width: 1280px) {
  .footer {
    padding: 26px 136px 23px 121px;
  }
}

// tablet footer catalog

@media (min-width: 768px) {
  .footer--catalog {
    padding: 34px 59px 0 62px;
  }
}

// descktop footer catalog

@media (min-width: 1280px) {
  .footer--catalog {
    padding: 129px 120px 31px 116px;
  }
}

// tablet footer form

@media (min-width: 768px) {
  .footer--form {
    padding: 29px 61px 23px 63px;
  }
}

// descktop footer form

@media (min-width: 1280px) {
  .footer--form {
    min-width: 1200px;
    padding: 36px 120px 36px 120px;
  }
}

// footer social list

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  margin-bottom: 35px;
  padding-left: 3px;
}

// tablet footer social list

@media (min-width: 768px) {
  .footer__social-list {
    justify-content: space-between;
    max-width: 158px;
    margin-bottom: 0;
    padding-left: 6px;
  }
}

@media (min-width: 768px) {
  .footer__social-list-form {
    justify-content: center;
    padding: 0;
    max-width: 167px;
  }

  .footer__social-list-form .footer__list-item {
    margin-right: 6px;
  }
}

// tablet footer catalog social list

@media (min-width: 768px) {
  .footer__social-list-catalog {
    margin-left: -17px;
  }
}

// descktop footer social list

@media (min-width: 1280px) {
  .footer__social-list {
    padding-left: 7px;
  }
}

// mobile  social list item

.footer__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 6px;
}

// tablet social list item

@media (min-width: 768px) {
  .footer__list-item {
    margin-right: -3px;
  }
}

// descktop  social list item

@media (min-width: 1280px) {
  .footer__list-item {
    margin-right: -5px;
  }
}

//footer actions elements

.footer__list-ico {
  fill: #ffffff;
}

.footer__list-item:hover {
  background-color: #669ec0;
}

.footer__list-ico:active {
  fill: rgba(255, 255, 255, 0.3);
  background-color: #669ec0;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-bottom: 33px;
}

//tablet footer link

@media (min-width: 768px) {
  .footer__link {
    margin-bottom: 0;
  }
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__logo-title {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 12px;
}

.footer__link:hover {
  opacity: 0.8;
  fill: #81b3d2;
  color: #81b3d2;
}

.footer__link:hover .footer__logo-title {
  opacity: 0.8;
  fill: #81b3d2;
  color: #81b3d2;
}

.footer__link:hover .footer__logo-image {
  opacity: 0.8;
  fill: #81b3d2;
  color: #81b3d2;
}

.footer__link:active {
  opacity: 0.3;
  fill: #b3b3b3;
}

.footer__link:active .footer__logo-title {
  opacity: 0.8;
  fill: #81b3d2;
  color: #b3b3b3;
}
